* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;   
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.scores {
    width: 100px;
    background-color: white;
    height: 50px;
    padding-top: 10px;
    font-size: 35px;
}

.boxes {
    width: 33%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1,h2, #game-over {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button {
    background-color: magenta;
    font-size: 18px;
    color: white;
}

#low-score {
    background-color: lightseagreen;
}

.cardTable {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards > div {
    border: 1px solid black;
    height: 90px;
    width: 60px;
    margin: 5px;
    background-color: gray;
    border-radius: 10px;
}

#game-over {
    width: 100%;
    text-align: center;    
}